[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[alias]
  st = status
  br = branch
  co = checkout
  cm = commit
  ch = cherry-pick
  last = log -p -1
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

[push]
  default = simple

[pull]
  rebase = true

[include]
  path = .gitconfig.local

[core]
  excludesfile = ~/.cvsignore
